%small.text-muted= notes.first
- if notes.size > 1
  - collapse_id = "#{id_prefix}-#{unique_id}"
  %div.collapse{ id: collapse_id }
    - notes[1..-1].each do |note|
      %br
      %small.text-muted= note
  %a{ href: "##{collapse_id}", data: { toggle: "collapse" }, aria: { expanded: false, controls: collapse_id } }
    %small.text-muted
      = "(+#{notes.size - 1} more)"
