= form_tag(request.path, method: :get, class: "search_form") do
  .row
    .span3
      = label_tag(:start_date, text(:start_date))
      = text_field_tag(:start_date, params[:start_date], class: :datepicker__data, autocomplete: "off")
    .span3
      = label_tag(:end_date, text(:end_date))
      = text_field_tag(:end_date, params[:end_date], class: :datepicker__data, autocomplete: "off")
  .row
    .span3
      = label_tag(:events, text(:event_filter))
      = select_tag(:events,
        options_for_select(event_type_options, params[:events]),
        multiple: true,
        class: "js--chosen",
        data: { placeholder: text(:event_placeholder) })
    .span3
      = label_tag(:invoice_number, text(:invoice_number))
      = text_field_tag(:invoice_number, params[:invoice_number])
  .row
    .span3
      = label_tag(:payment_source, text(:payment_source))
      = select_tag(:payment_source,
        options_for_select([["", ""]] + Payment.valid_sources.map { |s| [s.to_s.humanize, s.to_s] }, params[:payment_source]),
        class: "form-control")
  .row
    .span6
      = submit_tag(text(:submit), class: "btn")
      = hidden_field_tag :email, current_user.email, disabled: true
      = hidden_field_tag :format, params[:format], disabled: true