= content_for :h1 do
  = text("pages.global_settings")

= content_for :sidebar do
  = render("admin/shared/sidenav_global", sidenav_tab: "email_log_events")

%h2= text("pages.email_event_log")

= render "log_events/filter_form",
  event_type_options: email_log_events_options,
  exclude_query_field: true

= will_paginate(@email_log_events)

%table.table.table-striped.table-hover.email-logs
  %thead
    %tr
      %th= LogEvent.human_attribute_name(:event_time)
      %th= LogEvent.human_attribute_name(:event)
      %th.email-logs__object= LogEvent.human_attribute_name(:object)
      %th= LogEvent.human_attribute_name(:to)
      %th= LogEvent.human_attribute_name(:subject)

  %tbody
    - decorated_log_events(@email_log_events).each do |log_event|
      %tr
        %td= I18n.l(log_event.event_time, format: :usa)
        %td= text(log_event.event_type)
        %td= email_object_tag(log_event.email_object, class: "email-logs__object")
        %td= log_event.email_to
        %td= log_event.email_subject

= will_paginate(@email_log_events)
