= content_for :h1 do
  = text("pages.global_settings")

%h2= text("pages.billing_log_event")

= content_for :sidebar do
  = render("admin/shared/sidenav_global", sidenav_tab: "billing_log_events")

= render "table"
