= content_for :h1 do
  = current_facility
= content_for :h2 do
  = "#{Statement.model_name.human} ##{@statement.invoice_number}"
= content_for :sidebar do
  = render "admin/shared/sidenav_billing", sidenav_tab: "statement_history"

= readonly_form_for(:statement) do |f|
  = f.input :owner_user, input_html: { value: @statement.account.owner_user.full_name }
  = f.input :account
  = f.input :created_at, input_html: { value: I18n.l(@statement.created_at) }
  = f.input :invoice_date, input_html: { value: I18n.l(@statement.invoice_date, format: :usa) }
  = f.input :reference
  = f.input :status,
    input_html: { value: Statement.human_attribute_name("status.#{@statement.status}") }

= render_view_hook("actions")

= render "shared/order_details_table",
  order_details: @statement.order_details,
  omit_footnote: true

.text-right
  %strong= Statement.human_attribute_name(:total_cost)
  %span= number_to_currency(@statement.total_cost)
