= content_for :h1 do
  = t("pages.global_settings")

= content_for :sidebar do
  = render "admin/shared/sidenav_global", sidenav_tab: "bulk_imports"

%h2= t(".title")

= simple_form_for(@bulk_import, url: bulk_imports_path, method: :post) do |form|
  %div{data: { controller: "new-bulk-import" } }
    = form.input :import_type,
      collection: BulkImport.import_types.map { |t| [import_type_label(t), t] },
      input_html: { data: { action: "new-bulk-import#updateHelp" } }
    = form.input :file, as: :file

    = render "help"

    = form.submit t("shared.create"),
      class: "btn btn-primary",
      data: { disable_with: t("shared.create") }
