= content_for :h1 do
  = text("pages.global_settings")

= content_for :sidebar do
  = render("admin/shared/sidenav_global", sidenav_tab: "log_events")

%h2= text("pages.event_log")

= render "filter_form",
  event_type_options: log_events_options

= will_paginate(@log_events)

= link_to t("reports.account_transactions.export"), url_for(format: :csv), class: "js--exportSearchResults pull-right", data: { form: ".search_form" }
%table.table.table-striped.table-hover
  %thead
    %tr
      %th= text("event_time")
      %th= text("event")
      %th= text("object")
      %th= Facility.model_name.human
      %th= text("user")

  %tbody
    - @log_events.each do |log_event|
      %tr
        %td= format_usa_datetime(log_event.event_time)
        %td= text(log_event.locale_tag, log_event.metadata.symbolize_keys)
        %td= log_event.loggable_to_s
        %td= log_event.facility
        %td= log_event.user.try(:to_s)

= will_paginate(@log_events)
