= form_tag local_assigns[:send_problem_notifications_path], method: :post, class: "form-horizontal problem-notifications-form" do
  .row.table-actions
    .col-md-5.select_all_none= select_all_link
    .col-md-4
      = link_to t(".assign_price_policies"), local_assigns[:assign_price_policies_path], method: :post, class: %w(btn btn-primary)
    .col-md-1
      = submit_tag t(".send_reminders"), class: ["btn", "btn-primary", "js--requireValueForSubmit"], data: { confirm_template: t(".send_reminders_confirmation"), select_order_alert: t(".js.select_order_alert"), select_group_alert: t(".js.select_group_alert"), notification_count_error: t(".js.notification_count_error"), no_users_to_notify: t(".js.no_users_to_notify"), disable_with: t(".send_reminders") }   
    .col-md-2
      .pull-right
        .inline-checkbox-list
          = label_tag :notification_groups_resolvable, class: "checkbox inline" do
            = check_box_tag "notification_groups[]", "resolvable", false, id: "notification_groups_resolvable"
            = t(".notification_groups.resolvable")
          = label_tag :notification_groups_non_resolvable, class: "checkbox inline" do
            = check_box_tag "notification_groups[]", "non_resolvable", false, id: "notification_groups_non_resolvable"
            = t(".notification_groups.non_resolvable")
    
%table.table.table-striped.table-hover
  %thead
    %tr
      %th
      %th= Order.model_name.human
      %th= OrderDetail.model_name.human
      %th.nowrap= t(".th.ordered_by")
      %th= problem_order_date_header(local_assigns[:show_reservation_start_at])
      %th= Order.human_attribute_name(:user)
      %th{ colspan: 2 }= t(".th.quantity_and_product")
      %th
      %th.nowrap= Facility.model_name.human
      %th= Account.model_name.human
      %th= t(".th.problem")
  %tbody
    - @order_details.each do |order_detail|
      %tr{ class: row_class(order_detail) }
        %td
          = check_box_tag "order_detail_ids[]", order_detail.id, false, class: "toggle", id: "order_detail_#{order_detail.id}"
        - if order_detail.missing_form? && order_detail.order.merge_with_order_id
          %td.centered= link_to order_detail.order.merge_with_order_id,
            facility_order_path(current_facility, order_detail.order.merge_order)
          %td.centered= order_detail.id
        - else
          %td.centered= link_to order_detail.order_id,
            facility_order_path(current_facility, order_detail.order)
          %td.centered= link_to order_detail.id,
            manage_order_detail_path(order_detail),
            class: "manage-order-detail"
        %td= order_detail.order.created_by_user.full_name
        %td= problem_order_date(order_detail, local_assigns[:show_reservation_start_at])
        %td= order_detail.order.user
        %td.centered= order_detail.quantity
        %td= OrderDetailPresenter.new(order_detail).description_as_html
        %td
          - if order_detail.add_accessories?
            = link_to new_facility_order_order_detail_accessory_path(current_facility, order_detail.order, order_detail), class: ["has_accessories", "persistent", "undecorated"] do
              = tooltip_icon "fa fa-plus-square", t("product_accessories.pick_accessories.title")
        %td= render "shared/cross_core_facility_abbreviation_order_details", order_detail: order_detail, current_facility: current_facility
        %td= order_detail.account
        %td.centered
          = order_detail_badges(order_detail)
          - if order_detail.missing_form? && order_detail.order.merge_with_order_id
            = link_to text("shared.update"), facility_order_path(current_facility, order_detail.order.merge_order)
          - else
            = link_to text("shared.update"), manage_order_detail_path(order_detail), class: "manage-order-detail"

= will_paginate(@order_details)
= render partial: "shared/reconcile_footnote"
