= form_tag local_assigns[:send_problem_notifications_path], method: :post, class: "form-horizontal problem-notifications-form" do
  .row.table-actions
    .span1.select_all_none= select_all_link
    .span4
      &nbsp;
    .span4
      = link_to t(".assign_price_policies"), local_assigns[:assign_price_policies_path], method: :post, class: %w(btn btn-primary)
    .span1
      = submit_tag t(".send_reminders"), class: ["btn", "btn-primary", "js--requireValueForSubmit"], data: { confirm_template: t(".send_reminders_confirmation"), select_order_alert: t(".js.select_order_alert"), select_group_alert: t(".js.select_group_alert"), notification_count_error: t(".js.notification_count_error"), disable_with: t(".send_reminders") }   
    .span2
      .pull-right
        .inline-checkbox-list
          = label_tag :notification_groups_resolvable, class: "checkbox inline" do
            = check_box_tag "notification_groups[]", "resolvable", false, id: "notification_groups_resolvable"
            = t(".notification_groups.resolvable")
          = label_tag :notification_groups_non_resolvable, class: "checkbox inline" do
            = check_box_tag "notification_groups[]", "non_resolvable", false, id: "notification_groups_non_resolvable"
            = t(".notification_groups.non_resolvable")
    
%table.table.table-striped.table-hover
  %thead
    %tr
      %th
      %th= Order.model_name.human
      %th= OrderDetail.model_name.human
      %th.nowrap= t(".th.ordered_by")
      %th= problem_order_date_header(local_assigns[:show_reservation_start_at])
      %th= Order.human_attribute_name(:user)
      %th{ colspan: 2 }= t(".th.quantity_and_product")
      %th
      %th.nowrap= Facility.model_name.human
      %th= Account.model_name.human
      %th= t(".th.problem")
  %tbody
    - @order_details.each do |order_detail|
      %tr{ class: row_class(order_detail) }
        %td
          = check_box_tag "order_detail_ids[]", order_detail.id, false, class: "toggle", id: "order_detail_#{order_detail.id}"
        - if order_detail.missing_form? && order_detail.order.merge_with_order_id
          %td.centered= link_to order_detail.order.merge_with_order_id, facility_order_path(current_facility, order_detail.order.merge_order)
        - else
          %td.centered= link_to order_detail.order_id, facility_order_path(current_facility, order_detail.order)
        %td.centered= link_to order_detail.id, manage_order_detail_path(order_detail), class: "manage-order-detail"
        %td.nowrap= order_detail.order.created_by_user&.full_name || order_detail.order.user.full_name
        %td.nowrap= (order_detail.ordered_at || order_detail.order.created_at)&.strftime("%m/%d/%Y") || "-"
        %td.nowrap= order_detail.order.user.full_name
        %td.centered= order_detail.quantity
        %td= order_detail.product.name
        %td.centered= order_detail.total
        %td.nowrap
          = order_detail.product.facility.name
          = render "shared/cross_core_facility_abbreviation_order_details", order_detail: order_detail, current_facility: current_facility
        %td.nowrap= order_detail.account.to_s
        %td.nowrap
          - problem_key = order_detail.problem_description_key_was.presence || order_detail.problem_description_key
          = problem_key ? I18n.t("order_details.notices.#{problem_key}.badge") : ""
          - if order_detail.missing_form? && order_detail.order.merge_with_order_id
            = link_to text("shared.update"), facility_order_path(current_facility, order_detail.order.merge_order)
          - else
            = link_to text("shared.update"), manage_order_detail_path(order_detail), class: "manage-order-detail"

= will_paginate(@order_details)
= render partial: "shared/reconcile_footnote"
