= render "shared/transactions/headers"
= content_for :h1 do
  = current_facility
= content_for :h2 do
  = t("shared.transactions.confirm_transactions.head")

= content_for :sidebar do
  = render "admin/shared/sidenav_billing", sidenav_tab: "movable_transactions"

= render "shared/transactions/confirm_transactions_content",
  form_url: facility_movable_transactions_move_path,
  cancel_path: facility_movable_transactions_path(current_facility)
