= render partial: "shared/transactions/headers"
= content_for :h1 do
  = current_facility
= content_for :h2 do
  = t("shared.transactions.reassign_chart_strings.head")

= content_for :sidebar do
  = render "admin/shared/sidenav_billing", sidenav_tab: "movable_transactions"

= render "shared/transactions/reassign_chart_strings_form",
  form_url: facility_movable_transactions_confirm_path,
  cancel_path: facility_movable_transactions_path(current_facility)
