%h3= @selected_account

%h3= t("shared.transactions.confirm_transactions.movable_transactions.label")
.row
  .col-md-9
    = render "shared/transactions/table_inside", order_details: @movable_transactions

= simple_form_for @chart_string_reassignment_form, url: form_url do |form|
  = hidden_field_tag :account_id, @selected_account.id
  - @movable_transactions.each do |order_detail|
    = hidden_field_tag :"order_detail_ids[]", order_detail.id
  = submit_tag text("shared.transactions.reassign_chart_strings.submit"), class: "btn btn-primary"
  = link_to t("shared.cancel"), cancel_path, class: "btn btn-default"

- if @unmovable_transactions.present?
  %h3= t("shared.transactions.confirm_transactions.unmovable_transactions.label")
  .row
    .col-md-9
      = render "shared/transactions/table_inside", order_details: @unmovable_transactions
