= simple_form_for @chart_string_reassignment_form, url: form_url do |form|
  - @chart_string_reassignment_form.order_details.each do |order_detail|
    = hidden_field_tag :"order_detail_ids[]", order_detail.id
  = available_account_select_tag(form, @chart_string_reassignment_form.available_accounts)
  %p= text("shared.transactions.reassign_chart_strings.account_select.explanation")
  = submit_tag text("shared.transactions.reassign_chart_strings.submit"), class: "btn btn-primary"
  = link_to t("shared.cancel"), cancel_path, class: "btn"

.row
  .span9
    = render "shared/transactions/table_inside", order_details: @order_details
