%th.currency # of #{Order.model_name.human.pluralize}
%th.currency= Statement.human_attribute_name(:total_cost)
- if SettingsHelper.feature_on?(:merged_statement_history_columns)
  %th= t("statements.closed_on")
- else
  %th= t("statements.closed_at")
  %th= t("statements.closed_by")
