%fieldset#backdate-orders
  = hidden_field_tag :backdate_order, true
  - default_time = time_floor(Time.zone.now)

  = simple_fields_for :backdate, builder: ModelLessFormBuilder, defaults: { required: false } do |f|
    = f.input :order_date,
      as: :date_field,
      input_html: { value: params[:order_date].presence || default_time.to_date.iso8601,
          max: Time.current.to_date.iso8601 }

    = f.input :order_status_id,
      collection: @order_statuses,
      label_method: :name_with_level,
      input_html: { class: "js--order_status"},
      selected:  params[:order_status_id] || @order_statuses.first.try(:id),
      label: OrderDetail.human_attribute_name(:order_status)

    = f.input :fulfilled_at,
      as: :date_field,
      input_html: { value: params[:fulfilled_at].presence, class: "js--fulfilled_at",
          min: ValidFulfilledAtDate.min.to_date.iso8601, max: ValidFulfilledAtDate.max.to_date.iso8601 }

    = f.input :send_notification,
      as: :boolean,
      input_html: { value: 1 },
      default: params[:send_notification],
      label: false,
      inline_label: true
