= content_for :tabnav do
  = render "admin/shared/tabnav_payment_method", secondary_tab: "price_groups"

= content_for :h1 do
  = current_facility

= render "facility_accounts/sidebar"

%h2= @account

