= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_billing", sidenav_tab: "journals"

%h2= t(".head.h2", journal: @journal)
.row
  .col-md-5
    = readonly_form_for :journal do |f|
      = f.input :created_at
      = f.input :created_by_user
      = f.input :journal_date
      = f.input :reference
      = f.input :description
      = f.input :status_string
    - if @log_event
      %div.form-group
        %label= t(".label.closed_at")
        %div #{format_usa_datetime(@log_event.event_time)}
      %div.form-group
        %label= t(".label.closed_by")
        %div #{@log_event.user.full_name}
  .col-md-4
    .well
      = render "downloads", facility: current_facility, journal: @journal, label_size: :long

%hr

%h3= t(".head.h3")

- if @journal.open?
  %p= t(".journal.pending")
- elsif !@journal.successful?
  %p= t(".journal.failed")
  %p= t(".instruct.orders")
- elsif @journal.successful? && @journal.reconciled?
  %p= t(".journal.success")
- else
  %p= t(".instruct.reconcile")
  %p= t(".instruct.orders")

- if @journal.order_details.present?
  - journal_is_submittable = @journal.submittable?
  - has_reconciled = @journal.order_details.where(state: "reconciled").any?
  - has_unreconciled = @journal.order_details.where.not(state: "reconciled").any?
  - journal_can_reconcile = @journal.successful? && has_unreconciled
  - journal_can_unreconcile = @journal.successful? && has_reconciled && SettingsHelper.feature_on?(:allow_mass_unreconciling) && can?(:unreconcile, OrderDetail)
  - show_checkboxes = journal_is_submittable || journal_can_unreconcile || journal_can_reconcile
  
  = form_tag facility_journal_reconcile_path(current_facility, @journal), method: :post, id: "journal-form" do
    %table.table.table-striped.table-hover
      %thead
        - if show_checkboxes
          %tr.borderless
            %th{colspan: 3}= select_all_link
            %th.currency{colspan: 3}
              - if journal_can_reconcile || journal_is_submittable
                = submit_tag t(".submit"), class: "btn btn-primary", onclick: "this.form.action='#{facility_journal_reconcile_path(current_facility, @journal)}'; return true;"
              - if journal_can_unreconcile
                = submit_tag "Unreconcile Orders", class: "btn btn-primary", onclick: "this.form.action='#{facility_journal_unreconcile_path(current_facility, @journal)}'; return true;", style: "margin-left: 5px;"
        %tr
          - if show_checkboxes
            %th
          %th= t(".th.order")
          %th= t(".th.fulfilled")
          %th= t(".th.account")
          %th= t(".th.total")
          %th= t(".th.reconciled")
      %tbody
        - @journal.order_details.each do |order_detail|
          %tr
            - if show_checkboxes
              %td
                - checkbox_checked = journal_is_submittable && !journal_can_unreconcile && order_detail.reconciled?
                = check_box_tag "order_detail[#{order_detail.id}][selected]", "1", checkbox_checked, class: "toggle"
            %td
              = link_to order_detail, facility_order_path(order_detail.order.facility.url_name, order_detail.order_id)
              - if order_detail.note?
                %br
                = order_detail.note
            %td= format_usa_datetime(order_detail.fulfilled_at)
            %td= order_detail.account
            %td= number_to_currency(order_detail.total)
            %td= order_detail.reconciled? ? t("boolean.true") : t("boolean.false")
        - if show_checkboxes
          %tr.borderless
            %td{colspan: 3}
            %td.currency{colspan: 3}
              - if journal_can_reconcile || journal_is_submittable
                = submit_tag t(".submit"), class: "btn btn-primary", onclick: "this.form.action='#{facility_journal_reconcile_path(current_facility, @journal)}'; return true;"
              - if journal_can_unreconcile
                = submit_tag "Unreconcile Orders", class: "btn btn-primary", onclick: "this.form.action='#{facility_journal_unreconcile_path(current_facility, @journal)}'; return true;", style: "margin-left: 5px;"
- else
  %p.notice= t(".notice")
