= javascript_include_tag "transaction_history"
= javascript_include_tag "bulk_note"

= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render :partial => "admin/shared/sidenav_billing", locals: { sidenav_tab: account_route }

- if view_hook_exists?("reconciliation_heading") && use_custom_reconciliation_features?(account_class)
  = render_view_hook("reconciliation_heading", account_class: account_class)
- else
  %h2= t(".head", model: account_class.model_name.human(count: 2))

= render "shared/transactions/search"
- show_action_row = !(view_hook_exists?("reconciliation_modal") && use_custom_reconciliation_features?(account_class))

- if @unreconciled_details.any?
  - show_reconciliation_deposit_number = SettingsHelper.feature_on?(:show_reconciliation_deposit_number)
  = form_tag([:update, account_route.to_sym, FacilityAccount], method: :post, class: "js--reconcileForm") do
    - if params[:search].present?
      - params[:search].each do |key, value|
        - if value.is_a?(Array)
          - value.each do |v|
            = hidden_field_tag "search[#{key}][]", v
        - else
          = hidden_field_tag "search[#{key}]", value
    - if params[:page].present?
      = hidden_field_tag :page, params[:page]
    - if show_action_row
      = render "action_row", date: true,
        unreconciled_order_details: @unreconciled_details,
        show_reconciliation_deposit_number: show_reconciliation_deposit_number,
        show_order_status: true
    = render "table",
      show_reconciliation_deposit_number: show_reconciliation_deposit_number
    - if show_action_row
      = render "action_row", show_reconciliation_deposit_number: show_reconciliation_deposit_number, show_order_status: false

  %p= will_paginate(@unreconciled_details)
- else
  %p.notice= t(".none", model: account_class.model_name.human(count: 2).downcase)

- if view_hook_exists?("reconciliation_modal") && use_custom_reconciliation_features?(account_class)
  = render_view_hook("reconciliation_modal", account_class: account_class)
