= content_for :h1 do
  = current_facility

- if current_ability.can?(:create, Estimate)
  %p= link_to t(".add"), new_facility_estimate_path, class: "btn-add"

.row
  .form-horizontal
    = form_tag facility_estimates_path, method: :get, class: "form-horizontal filter-form" do
      .control-group
        %label.control-label= t(".search")
        .controls
          = text_field_tag :search, params[:search], placeholder: t(".search_placeholder"), id: "estimate_search"

      .control-group
        %label.control-label= t(".filter_user")
        .controls
          = select_tag :user_id,
            options_for_select(estimate_user_options(current_facility),
            selected: params[:user_id])

      .control-group
        %label.control-label= t(".hide_expired")
        .controls
          = check_box_tag :hide_expired, "1", params[:hide_expired] == "1"

      .control-group
        .controls
          = submit_tag t("shared.filter"), class: "btn"
          = link_to t(".clear_filter"), facility_estimates_path, class: "btn"

- if @estimates.present?
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= Estimate.human_attribute_name(:id)
        %th= Estimate.human_attribute_name(:description)
        %th= Estimate.human_attribute_name(:user)
        %th= Estimate.human_attribute_name(:expires_at)
    %tbody
      - @estimates.each do |estimate|
        %tr{class: ("row-warning" if estimate.expires_at < Time.current)}
          %td= link_to estimate.id, facility_estimate_path(current_facility, estimate)
          %td= estimate.description
          %td= estimate.user_display_name
          %td= format_usa_date(estimate.expires_at)
- else
  %p.notice= t(".no_estimates")
