= content_for :h1 do
  = @estimate.facility

%h2= t(".create")

= simple_form_for @estimate, url: facility_estimates_path(@estimate.facility), method: :post do |f|
  .inline-form-controls
    = f.input :name
    .span-4
      = f.label :user_id, Estimate.human_attribute_name(:user_id)
      = f.input_field :user_id,
        collection: [],
        class: "js--chosen js--select-with-search",
        include_blank: false,
        data: { search_url: search_facility_estimates_path }
    .span-4
      = f.input :expires_at, as: :date_picker, min_date: Time.current.iso8601
  .form-inputs
    = f.input :note

  #new_estimate_products_table.hidden
    %table.table
      %thead
        %tr
          %th= EstimateDetail.human_attribute_name(:product)
          %th= EstimateDetail.human_attribute_name(:quantity)
          %th= EstimateDetail.human_attribute_name(:duration)
          %th
      %tbody#new_estimate_estimate_details{ data: { remove_button_text: t(".remove_products") } }

  %h3= t(".add_products_to_estimate")

  .well
    .inline-form-controls
      %div
        = label_tag :quantity, EstimateDetail.human_attribute_name(:quantity)
        = number_field_tag :quantity, 1, min: 1, style: "width: 3em;", class: "js--estimate-quantity"

      .margin_x
        = label_tag :product_id, Product.model_name.human
        = select_tag :product_id,
          options_for_select(@products),
          class: "js--estimate-product js--chosen",
          include_blank: false

      .js--estimate-duration-days-container.hidden
        = label_tag :duration, EstimateDetail.human_attribute_name(:duration)
        = number_field_tag :duration, 1, min: 1, class: "js--estimate-duration-days", name: "estimate_duration_days", id: "duration_days"

      .js--estimate-duration-mins-container.hidden
        = label_tag :duration, EstimateDetail.human_attribute_name(:duration)
        = text_field_tag :duration, "0:01", class: "js--estimate-duration-mins"

    %button#add_product_to_estimate.btn.btn-primary{ type: "button" }= t(".add_product")

  = f.button :submit, t(".add"), class: "btn-primary"
  = link_to t("shared.cancel"), facility_estimates_path(@estimate.facility)
