= content_for :h1 do
  = @estimate.facility

%h2= t(".create")

= simple_form_for @estimate, url: facility_estimates_path(@estimate.facility), method: :post do |f|
  .inline-form-controls
    = f.input :name
    .span-4
      = f.label :user_id, Estimate.human_attribute_name(:user_id)
      = f.input_field :user_id,
        collection: [],
        class: "js--chosen js--select-with-search",
        include_blank: false,
        data: { search_url: search_facility_estimates_path }
    .span-4
      = f.input :expires_at, as: :date_picker, min_date: Time.current.iso8601
  .form-inputs
    = f.input :note

  #new_estimate_products_table.hidden
    %table.table
      %thead
        %tr
          %th Product
          %th Quantity
          %th
      %tbody#new_estimate_estimate_details

  .well
    .inline-form-controls
      %div
        = label_tag :quantity, EstimateDetail.human_attribute_name(:quantity)
        = number_field_tag :quantity, 1, min: 1, style: "width: 3em;"

      .margin_x
        = label_tag :product_id, Product.model_name.human
        = select_tag :product_id,
          options_for_select(current_facility.products.where({ type: ["Item", "Service"] }).alphabetized.map { |p| [p.name, p.id] }),
          class: "js--chosen",
          include_blank: false

      %button#add_product_to_estimate.btn.btn-add{ type: "button" }= "Add Product"
  .form-actions
    = f.button :submit, t(".add"), class: "btn-primary"
    = link_to t("shared.cancel"), facility_estimates_path(@estimate.facility)
