= content_for :h1 do
  = @estimate.facility

%h2= t(".create")

= simple_form_for @estimate, url: facility_estimates_path(@estimate.facility), method: :post do |f|
  .inline-form-controls
    = f.input :name
    .span-4
      = f.label :user_id, Estimate.human_attribute_name(:user_id)
      = f.input_field :user_id,
        collection: [current_user].map { |u| [u.full_name, u.id] },
        class: "js--chosen js--estimate-form",
        include_blank: false,
        data: { search_url: search_facility_estimates_path }
    .span-4
      = f.input :expires_at, as: :date_picker, min_date: Time.current.iso8601
  .form-inputs
    = f.input :note
  .form-actions
    = f.button :submit, t(".add"), class: "btn-primary"
    = link_to t("shared.cancel"), facility_estimates_path(@estimate.facility)
