= content_for :h1 do
  = current_facility

- header = "#{Estimate.model_name.human} ##{@estimate.id}"
- header = @estimate.name.present? ? "#{header} - #{@estimate.name}" : header

%h2= header

.container.banner-list
  .row
    = header_display_date @estimate, :expires_at
    = header_display @estimate, :user
    = header_display @estimate, :created_by_user

  .row
    = header_display @estimate, :note

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Product.model_name.human
      %th= EstimateDetail.human_attribute_name(:quantity)
      %th= EstimateDetail.human_attribute_name(:duration)
      %th= EstimateDetail.human_attribute_name(:cost)
  %tbody
    - @estimate.estimate_details.each do |estimate_detail|
      %tr
        %td= estimate_detail.product
        %td= estimate_detail.quantity
        %td{class: estimate_detail.duration_mins ? "timeinput" : ""}
          - if estimate_detail.duration_days
            = "#{estimate_detail.duration_days} #{t(".days")}"
          - elsif estimate_detail.duration_mins
            = estimate_detail.duration_mins
        %td.currency= number_to_currency(estimate_detail.cost)
