= simple_form_for :accessories, url: url_for(action: :create), remote: request.xhr?, html: { "data-type" => "html", :id => "accessory-form", class: :pick_accessories_form } do |f|
  .modal-body
    = render partial: "shared/flashes" if modal?
    %p= t("product_accessories.pick_accessories.instruct")
    - if @order_detail.reservation.ongoing?
      %p= t("product_accessories.pick_accessories.actual_time_ongoing_html", time: @order_detail.reservation.actual_duration_mins)
    - else
      %p= t("product_accessories.pick_accessories.actual_time_html", time: @order_detail.reservation.actual_duration_mins)

    = render "accessories/accessory_table", f: f, order_details: @order_details

  .modal-footer
    = f.submit t("product_accessories.button.submit"), class: "btn btn-primary"
    = modal_cancel_button text: t("product_accessories.button.cancel")
